<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/octane.jpg" height="150"  title="CollegeBoardNotes" alt=""></td>
        <td><a href="https://stg-7.github.io/FastPagesSTG/week%205/2022/09/24/OK.html"> 1.1 Collaboration </a></td>
        <td><a href="https://stg-7.github.io/FastPagesSTG/week%205/2022/09/26/JSJN2.html"> 1.2 Program Function and Purpose </a></td>
        <td><a href="https://stg-7.github.io/FastPagesSTG/week%207/2022/10/10/apitest.html">1.3 Program Design and Development</a></td>
        <td><a href="https://stg-7.github.io/FastPagesSTG/week%207/2022/10/10/apitest.html">1.4 Identifying and Correcting Errors</a></td>

    </tr>
</table>